@media  screen and (min-width: 1000px) {
    *{
        padding: 0;
        margin: 0;
    }
    main{
        width: 1080px;
        height: 1920px;
        background-image: url(../imagens/bitmap.png);
        background-repeat: no-repeat;
        background-size: cover;
        opacity: .8;
    }
    body{
        display: flex;
        justify-content: center;
        padding-top: 15px;
        background-image: url(../imagens/transferir.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        zoom: 0.33;
    }
    .buttons{
        width: 33.333333%;
        height: 640px;
        background-color: rgba(255, 255, 255, 0);
        font-size: 250px;
        border: 0;
        text-align: center;
        line-height: 250px;
    }
    #button-one, #button-two, #button-three{
        border-top: 5px solid black;
    }
    .button-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
}
@media screen and (max-width:999px) {
    *{
        padding: 0;
        margin: 0;
    }
    main{
        width: 90%;
        height: 660px;
        background-image: url(../imagens/bitmap.png);
        background-size: cover;
        opacity: .85;
    }
    body{
        display: flex;
        justify-content: center;
        padding-top: 10px;
        background-image: url(../imagens/transferir.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .button-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .buttons{
        width: 33.3333%;
        height: 220px;
        font-size: 120px;
        border: 0;
        background-color: rgba(255, 255, 255, 0);
    }
    #button-one, #button-two, #button-three{
        border-top: 2px solid black;
    }
}